/* @font-face {
  font-family: 'Questrial';
  src: url('/static/fonts/Questrial-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal
}


@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/Lato-Regular.ttf');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/Lato-Italic.ttf');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/Lato-Bold.ttf');
  font-weight: 500;
  font-style: bold;
  font-stretch: normal;
} */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
